<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" 
    content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel='stylesheet' 
    href='/stylesheets/style.css' />
</head>

<body class="container">

  <header>
    <h1 class="display-4">
      <%= title %></h1>
  </header>
  <div role="main">
    <p><%- content %></p>
    <form method="post" action="/hello/add">
      <div class="form-group">
        <label for="name">コール名</label>
        <input type="text" name="name" id="name" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="call_to">訪問先</label>
        <td><input type="text" name="call_to" id="call_to" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="memo">メモ</label>
        <td><input type="text" name="memo" id="memo" 
          class="form-control">
      </div>
      <input type="submit" value="作成" 
      class="btn btn-primary">
    </form>
  </div>
</body>
