<body class="container">
  <header>
    <h1 class="display-4">
      <%= title %></h1>
  </header>
  <div role="main">
    <p><a href="/hello/add">追加</a></p>  
    <table class="table">
      <%- content %>
    </table>
  </div>
</body>
